<div class="w-[400px] h-[80vh] bg-slate-600 rounded-lg shadow-[0_3px_10px_rgb(0,0,0,0.4)]">   
    <div class="overflow-hidden w-full h-1/2 relative" style="border-top-left-radius: inherit; border-top-right-radius: inherit">

        <app-upper-display></app-upper-display>

        <div *ngIf="weatherData">
            <app-time [weatherTimeDate]="weatherData"></app-time>
        </div>
           
        <app-location class="absolute bottom-0 w-full" (weatherModelEvent)="getWeatherData($event)"></app-location>        
    </div>
</div>